Django==5.1.7
djangorestframework==3.16.0
django-cors-headers==4.7.0
djangorestframework-simplejwt==5.5.0
PyJWT==2.9.0
pytz==2024.1

# PostgreSQL / Supabase dependencies
psycopg2-binary==2.9.10
dj-database-url==2.3.0
python-dotenv==1.1.0
